/* Fade-in effect */
.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    text-align: center;
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
}

/* Flower Styles */
.flower-top-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%; /* Larger size */
    z-index: 0;
}

.flower-top-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; /* Larger size */
    z-index: 0;
}

.flower-bottom-middle {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%; /* Larger size */
    z-index: 0;
}

/* Invitation Styles */
.invitation {
    text-align: center;
    z-index: 1;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

header h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: #666;
}

/* Music Controls */
#music-controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#music-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#music-controls label {
    margin: 0 10px;
    font-size: 1.2em;
    color: #555;
}

#music-controls input[type="range"] {
    margin: 0 10px;
}
